@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "roboto";
  }
  h2 {
    
  }
}
@layer components {
  .container{
    @apply max-w-[1260px] mx-auto px-[20px];
  }
  .tech-stack li {
    @apply w-[calc(100%/6)] flex justify-center
  }
  .card {
    @apply rounded-xl;
  }

  .card-ttl {

  }
.card-content {}

.card-link {}
}


/* .tech-stack-grid li {
  grid-column: 1/ span 3;
}

.tech-stack-grid li:nth-child(6n) {
  grid-column: 1;
} */
